@model DateSite.Models.BrowseModel

@{
    ViewBag.Title = "Browse Profiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/browseStyle.css");

}

@*
    @{
        var profiles = (List<String>) ViewData["Profiles"];
    }*@

<div class="container">
    <h1>Browse Profiles</h1>
    
    <div id="filter-profiles">
        <div class="row">

            <div class="col-md-4">
                <ul class="list-unstyled list-group filter-box">
                    <li><p>Age</p></li>
                    <li>
                        <div class="age-selector">
                                <div class="form-group form-group-age">
                                    <select class="form-control" id="from">

                                        @for (int i = 0; i < 100; i++)
                                        {
                                            <option>@i</option>
                                        }
                                    </select>
                                </div>
                            </div>

                        <div class="age-selector"><p>-</p></div>

                        <div class="age-selector">
                            <div class="form-group form-group-age">
                                <select class="form-control" id="from">

                                    @for (int i = 0; i < 100; i++)
                                    {
                                        <option>@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                        
                            

                    </li>
                </ul>
            </div>


            <div class="col-md-4">
                <ul class="list-unstyled list-group filter-box">
                    <li><p>Gender</p></li>
                    <li>
                        <div class="form-group form-group-gender">
                            <select class="form-control" id="to">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>


            <div class="col-md-4">
                <ul class="list-unstyled list-group filter-box">
                    <li><p>Location</p></li>
                    <li>
                        <div class="form-group form-group-location">
                            <select class="form-control" id="to">
                                @foreach (var i in Model.countries)
                                {
                                    <option>@i.ToString()</option>
                                }
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-md-2 sides"></div>
    <div class="col-md-8">

        <div class="row">
            @foreach (var i in Model.profiles)
            {
                <div class="col-md-2 profile">
                    <p>@i.Firstname</p>
                    <p>@i.Lastname</p>
                    <p>@i.Gender</p>
                    <p>@i.Age</p>
                    <p>@i.Email</p>
                </div>
            }
        </div>

    </div>
    <div class="col-md-2 sides"></div>
</div>


